# Avoid automatically committing rendered PDFs
**/*.pdf
# Ignore python bytecode cache files
**/*.pyc

raw_data/*
!raw_data/.keep

# Ignore compiled Rust code
**/target
**/Cargo.lock

# Ignore tooling cache
**/.sqlx
**/.mypy_cache
