<header>
  <nav>
    <div class="logo color-gradient">
      <a href="/"><h2 class="sitename">Coursework</h2></a>
    </div>
    <div class="menu-wide">
      <a href="/data" class="menu-item">Data</a>
      <a href="/survey" class="menu-item">Survey</a>
      <div id="theme-toggle" class="primary-button menu-item">Toggle theme</div>
    </div>
    <div class="menu-ham" id="hamburger">
      <button class="hamburger">
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="menu hide">
      <a href="/data" class="menu-item menu-item-mobile">Data</a>
      <a href="/survey" class="menu-item menu-item-mobile">Survey</a>
      <div id="theme-toggle" class="primary-button menu-item menu-item-mobile">
        Toggle theme
      </div>
    </div>
  </nav>
</header>
