<!doctype html>

<html>
  <head>
    {{> common_head}}
    <script type="module" charset="utf-8" src="plotly-3.0.0.min.js"></script>
    <script type="module" charset="utf-8" src="form.js"></script>
  </head>

  <body>
    {{> header}}
    <div class="hero">
      <div>
        <h2>
          Thanks for your time!<br />
          <span class="color-gradient"> What did you think?</span>
        </h2>
      </div>
      <form class="hero-img primary-container" id="reply-form">
        <div class="labeled-input">
          <label for="name">Tell us your name</label>
          <input type="text" id="name" autocomplete="given-name" name="name" />
        </div>
        <div class="labeled-input">
          <label for="age">Enter your age</label>
          <input type="number" id="age" name="age" min="13" max="150" />
        </div>

        <div class="input-group">
          <input type="checkbox" id="agree" name="agree" checked="true" />
          <label for="agree">Do you agree with my findings?</label>
        </div>
        <input
          type="submit"
          value="Submit"
          id="reply-submit"
          class="bg-color-gradient secondary-button"
          style="width: 100%"
        />
      </form>
    </div>
    <h1>Let's see how others are responding!</h1>
    <p class="subtitle">
      There <span id="viewer_count_to_be">are</span> currently
      <span id="viewer_count">UNKNOWN visitors</span> on this page.
    </p>
    <table id="replies" class="mintable primary-container">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Agrees?</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div id="plots" class="primary-container" style="padding: 0"></div>

    <p class="subtitle">
      The above table and plots updates in real time with added entries. <br />
      Try it, it even works if you reply on another device!
    </p>
    {{> footer}}
  </body>
</html>
